body {
  padding: 0em;
  margin: 0em;
  font-size: 12pt;
  text-align: justify;
  font-color: black;
  background-color: white;
  font-family: times, serif;
  background-image: url(pin-2x2.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
}
div.Main {
  border: 0px solid green;
  padding: 1em;
  margin: 0em;
  background-image: url(highlight-textarea.png);
  background-repeat: repeat-x;
  background-position: top;
}
div.Log {
  padding: 1em;
  border: 1px solid red;
  overflow: auto;
  width: 15em;
  height: 15em;
}
div.Path {
  padding: 1em;
  border: 0px solid red;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 12pt;
  font-family: times, serif;
}
div.Selector {
  width: 12em;
  padding: 1em;
  border: 1px dotted gray;
}
div.Display {
  width: 55em;
  padding-left: 1em;
  border: 0px solid red;
}
table.MainPart {
  border-collapse: collapse;
  border: 0;
  padding: 0;
  margin: 0;
}
ol.CategorySelector {
  list-style-position: outside;
  list-style-type: decimal;
  margin: 0;
  margin-left: 1.5em;
  padding: 0;
}
ol.CategorySelector ol {
  list-style-type: upper-roman;
  margin-left: 1em;
  padding: 0;
}
ol.CategorySelector ol ol {
  list-style-type: upper-alpha;
  margin-left: 1em;
  padding: 0;
}
div.Datum {
  padding: .25em;
  margin: 0;
  margin-bottom: 1px;
  border: 1px dotted gray;
}
table.MainPart td,tr,tbody,th,thead {
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
table.FieldResponder {
  border-collapse: collapse;
}
table.FieldResponder td {
  min-width: 10em;
  margin: 0;
  padding: .25em;
  border-top: 1px solid gray;
}
table td.FieldResponderAspect {
  min-width: 8em;
  font-variant: small-caps;
  font-weight: bold;
  border-right: 1px dotted black;
}
input.ModifyTextButton {
  min-width: 10em;
}
table.ModifyTextButton {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
table.ModifyTextButton td {
  border: 0;
  margin: 0;
  padding: 0;
}
div.Description h1 {
  border: 0;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 12pt;
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a.regular-text {
  font-size: 12pt;
  text-align: justify;
  font-color: black;
}
a.regular-text:hover {
  font-size: 12pt;
  text-align: justify;
  font-color: black;
}

p.text {
  border: 1px solid blue;
  min-width: 1em;
  min-height: 1em;
  margin: 0;
  padding: 0;
  text-align: justify;
}
div.example {
  padding: 0;
  padding-left: 1em;
}
div.example h1 {
  font-size: 20pt;
}
div.example p {
  padding-left: 2em;
  text-indent: -1em;
}

dl.description-list dt {
  font-weight: bold;
  font-variant: small-caps;
  width: 10em;
}