body {
  margin: 0;
  padding: 0;
  font-family: times, serif;
  color: black;
  font-variant: normal;
}
div.Main {
  margin: 1em;
  z-index: 1;
  background-color: #EEE;
  border: 1px solid gray;
}
div.Display {
  background-color: white;
  margin: 3px;
  border: 1px solid gray;
  position: relative;
  z-index: 2;
}
a.section-link {
  text-decoration: none;
  color: black;
  font-variant: small-caps;
}
a.section-link:hover {
  text-decoration: none;
  color: blue;
}
div.part {
  padding-left: .75em;
}
div.chapter {
  padding-left: .75em;
}
div.section {
  padding-left: .75em;
}
div.part div.title {
  font-size: 300%;
  font-weight: bold;
  font-variant: small-caps;
}
div.chapter div.title {
  font-size: 250%;
  font-weight: bold;
  font-variant: small-caps;
}
div.section div.title {
  font-size: 200%;
  font-weight: bold;
  font-variant: small-caps;
}
div.section div.section div.title {
  font-size: 150%;
  font-weight: bold;
  font-variant: small-caps;
}
div.section div.section div.section div.title {
  font-size: 125%;
  font-weight: bold;
  font-variant: small-caps;
}
div.text {
  position: relative;
  text-align: justify;
  margin: 3px;
  padding: 3px;
  border: 1px solid gray;
}
div.text-homonculus {
  font-size: 8pt;
  font-variant: small-caps;
  font-style: normal;
  color: blue;
  text-decoration: none;
  position: absolute;
  background-color: white;
  display: none;
  opacity: .8;
  margin-left: 0em;
  margin-top: -2em;
}
div.homonculus-item {
  border: 1px solid blue;
  padding: 3px;
  display: table-cell;
  height: 1.35em;
  min-width: 4em;
}
div.homonculus-item:hover {
  color: black;
  border: 1px solid black;
}
div.text:hover {
  background-color: #EEE;
}
div.text div.inner-text {
  padding: 3px;
  border: 1px solid white;
  background-color: white;
}
div.text div.inner-text:hover {
  border: 1px solid gray;
  background-color: white;
}
div.inner-text:hover > .text-homonculus {
  display: table;
  border-collapse: separate;
  border-spacing: 2px;
}
div.itemized-list, div.description-list, div.numbered-list {
  margin-left: 1em;
  padding: 0;
  margin: 0;
  margin-left: 1em;
}
div.item {
  margin: 3px;
  border: 1px solid gray;
  background-color: white;
}
div.item-indicator {
  display: table-cell;
}
div.item-description {
  font-variant: small-caps;
  font-weight: bold;
  display: table-cell;
  width: 10em;
}
div.item-body {
  display: table-cell;
}
div.equation {
  border: 1px solid green;
  margin: 3px;
}
div.example {
  border: 1px solid gray;
  margin: 3px;
}
div.example div.title {
  font-size: 125%;
}
div.example-body {
  border: 1px solid gray;
  margin: 3px;
  margin-left: 1em;
}
div.note {
  border: 1px solid red;
  margin: 3px;
}
div.exclaim {
  border: 0;
  font-size: 150%;
  font-weight: bold;
  color: red;
  padding: 3px;
  display: table-cell;
}
div.note-body {
  display: table-cell;
}
div.edit-bar {}
div.edit-bar-button {
  background-color: white;
  display: table-cell;
  padding: 3px;
}
div.button {
  font-size: 10pt;
  font-weight: bold;
  font-variant: small-caps;
  color: blue;
  border: 1px solid blue;
  padding: 3px;
  position: relative;
}
div.figure {
  border: 1px solid gray;
  margin: 3px;
}
div.tabular {
  border: 1px solid gray;
  margin: 3px;
  padding: 3px;
}
div.tabular div.table-head {
  display: table-row;
}
div.tabular div.table-cell-head {
  font-variant: small-caps;
  font-weight: bold;
  display: table-cell;
  border-bottom: 1px solid black;
}
div.tabular div.table-cell-row {
  display: table-cell;
}
div.caption {
  border: 1px solid gray;
  margin: 3px;
  width: 20em;
  margin-left: auto;
  margin-right: auto;
}
div.reference {
  margin: 3px;
  padding: 3px;
  border: 1px solid gray;
}
a.referrer {
  font-variant: small-caps;
  font-style: italic;
}
div.summarize {
  margin: 3px;
  padding: 3px;
  border: 1px solid gray;
}


div.Editor {
  position: fixed;
  border: 1px solid gray;
  background-color: #EEE;
  z-index: 150;
  top: 0;
  left: 0;
  /*display:none;*/
  opacity: .8;
}
div.Editor-Title-Bar {
  background-color: white;
  border: 1px solid gray;
  width: 25em;
  height: 2em;
  margin: 3px;
}
div.Editor-Minimize-Button {
  padding: 1px;
  margin: 3px;
  width: 1em;
  padding-left: 1ex;
  display: block;
  border: 1px solid gray;
}
div.Editor-Minimize-Button:hover {
  color: blue;
  border: 1px solid blue;
  background-color: #DDF;
}
div.Editor-Body {
  background-color: white;
  border: 1px solid gray;
  overflow: auto;
  width: 25em;
  height: 20em;
  margin: 3px;
}


div.Selector {
  z-index: 150;
  position: fixed;
  border: 1px solid gray;
  background-color: #EEE;
  top: 0;
  left: 0;
  opacity: .8;
}
div.Selector-Title-Bar {
  background-color: white;
  border: 1px solid gray;
  width: 18em;
  height: 2em;
  margin: 3px;
}
div.Selector-Minimize-Button {
  padding: 1px;
  margin: 3px;
  width: 1em;
  padding-left: 1ex;
  display: block;
  border: 1px solid gray;
}
div.Selector-Minimize-Button:hover {
  color: blue;
  border: 1px solid blue;
  background-color: #DDF;
}
div.Selector-Close-Button:hover {
  color: blue;
  border: 1px solid blue;
  background-color: #DDF;
}
div.Selector-Body {
  background-color: white;
  border: 1px solid gray;
  overflow: auto;
  width: 18em;
  height: 35em;
  margin: 3px;
}
div.Selector-Body ol {
  list-style-position: inside;
  margin: 0;
  margin-left: .5em;
  padding: 0;
}
div.Selector-Body ol.book {
  list-style-type: none;
}
div.Selector-Body ol.part {
  list-style-type: upper-roman;
}
div.Selector-Body ol.chapter {
  list-style-type: decimal;
}
div.Selector-Body ol.section {
  list-style-type: decimal;
}
div.Selector-Body ol.section ol {
  list-style-type: lower-roman;
}
div.Selector-Body ol.section ol ol {
  list-style-type: lower-alpha;
}
div.Selector-Body li {
  min-width: 18em;
}


div.Debugger {
  border: 1px solid red;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 10000;
  background-color: white;
  padding: .25em;
}
div.Debugger-Title-Bar {
  background-color: white;
  border: 1px solid red;
  width: 45em;
  height: 1em;
  margin: .25em;
}
div.Log {
  margin: 0;
  border: 1px solid red;
  width: 15em;
  height: 8em;
  display: inline-block;
  overflow: auto;
  z-index: 10001;
}