body.MainBody {
  margin: 0;
  padding: 0;
  font-family: times, serif;
  color: black;
  font-variant: normal;
  font-size: 12pt;
}
div.Main {
  margin: 1em;
  z-index: 1;
  background-color: #EEE;
  border: 1px solid gray;
}
div.Display {
  background-color: white;
  margin: 3px;
  border: 1px solid gray;
  position: relative;
  z-index: 2;
  padding: 1px;
}

.xod-load-children {
  text-decoration: none;
}
.xod-load-children:hover {
  text-decoration: underline;
}

table.xod-table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 1px solid black;
  margin: 1px;
}
table.xod-table th {
  border-bottom: 1px solid black;
}
table.xod-table td {
  border: 0;
}
table.xod-table td.xod-attr-name {
  font-variant: small-caps;
  font-weight: bold;
  text-align: center;
  border: 0;
  border-right: 1px dotted gray;
  min-width: 3em;
}
table.xod-table td.xod-attr-val {
  border: 0;
  border-top: 1px solid gray;
  border-right: 1px solid black;
  min-width: 3em;
  text-align: center;
}
table.xod-table td.xod-descr {
  border: 0;
  border-top: 1px dotted gray;
  min-width: 3em;
}
table.xod-elt-table {
  border: 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
}
table.xod-elt-table th.title {
  font-size: 125%;
  font-variant: small-caps;
  font-weight: bold;
}
table.xod-elt-table th.heading {
  font-size: 100%;
  font-variant: small-caps;
  font-weight: bold;
  border-bottom: 1px dotted black;
  border-top: 1px solid black;
}
table.xod-elt-table textarea.xod-attr-ta {
  height: 2em;
  border: 1px solid gray;
  width: 100%;
}

em.xod-no-text {
  font-variant: small-caps;
  font-size: 8pt;
  font-style: italic;
}

ul.xod-children {
  margin: 0;
  padding: 0;
  padding-left: 1em;
  list-style-type: none;
}