body {
  padding: 0em;
  margin: 0em;
  font-size: 12pt;
  text-align: justify;
  color: black;
  background-color: white;
  font-family: times, serif;
  background-image: url(pin-2x2.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: bottom;
}
div.Main {
  border: 0px solid green;
  padding: 1em;
  margin: 0em;
  background-image: url(highlight-textarea.png);
  background-repeat: repeat-x;
  background-position: top;
}
div.Log {
  padding: 1em;
  border: 1px solid red;
  overflow: auto;
  width: 15em;
  height: 15em;
  visibility:hidden;
}
div.Path {
  padding: 1em;
  border: 0px solid red;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 12pt;
  font-family: times, serif;
}
div.Selector {
  width: 12em;
  height: 30em;
  padding: 1em;
  border: 1px dotted gray;
  overflow: auto;
}
div.Display {
  min-width: 55em;
  padding-left: 1em;
  border: 0px solid red;
}
table.MainPart {
  border-collapse: collapse;
  border: 0;
  padding: 0;
  margin: 0;
}
ol.CategorySelector {
  list-style-position: outside;
  list-style-type: decimal;
  margin: 0;
  margin-left: 1.5em;
  padding: 0;
}
ol.CategorySelector ol {
  list-style-type: upper-roman;
  margin-left: 1em;
  padding: 0;
}
ol.CategorySelector ol ol {
  list-style-type: upper-alpha;
  margin-left: 1em;
  padding: 0;
}
div.Datum {
  padding: .25em;
  margin: 0;
  margin-bottom: 1px;
  border: 1px dotted gray;
}
table.MainPart td,tr,tbody,th,thead {
  border: 0;
  padding: 0;
  margin: 0;
  border-collapse: collapse;
}
textarea.SimpleEditor {
  border: 1px solid gray;
  background-color: white;
  border-left: 3px solid black;
  border-right: 3px solid black;
  -moz-border-radius: 5px 0px 0px 5px;
  -webkit-border-radius: 5px 0px 0px 5px;
}
table.FieldResponder {
  border-collapse: collapse;
}
table.FieldResponder td {
  min-width: 10em;
  margin: 0;
  padding: .25em;
  border-top: 1px solid gray;
}
table td.FieldResponderAspect {
  min-width: 8em;
  font-variant: small-caps;
  font-weight: bold;
  border-right: 1px dotted black;
}
div.ModifyTextButton {
  font-size: 10pt;
  font-variant: normal;
  font-weight: normal;
  width: 10em;
  min-width: 10em;
  border: 1px solid blue;
  border-left: 3px solid black;
  border-right: 3px solid black;
  text-align: center;
  padding-top: 3px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}
table.ModifyTextButton {
  border: 0;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
}
table.ModifyTextButton td {
  border: 0;
  margin: 0;
  padding: 0;
}
div.Description h1 {
  border: 0;
  margin: 0;
  padding: 0;
  font-variant: small-caps;
  font-weight: bold;
  font-size: 12pt;
}

div.ContextMenu {
  width: 12em;
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  color: blue;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: underline;
}
a.regular-text {
  font-size: 12pt;
  text-align: justify;
  color: black;
}
a.regular-text:hover {
  font-size: 12pt;
  text-align: justify;
  color: black;
}

p.text {
  min-width: 1em;
  min-height: 1em;
  margin: 0;
  padding: 2px;
  /*border-top: 1px solid blue;
  //border-left: 1px dotted blue;
  //border-right: 1px dotted blue;
  //border-bottom: 1px solid #EEE;*/
  text-align: justify;
  /*background-color: #FCFCFF;*/
}
div.section-body {
  padding-left: 1em;
}
div.part {
  padding-left: 1em;
}
div.part h1.part {
  font-size: 250%;
  position: relative;
}
div.chapter {
  padding-left: 1em;
}
div.chapter h1.chapter {
  font-size: 200%;
  position: relative;
}
div.section {
  padding-left: 1em;
}
div.section h1.section {
  font-size: 150%;
  position: relative;
}
div.example {
  padding: 0;
  padding-left: 1em;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
  border: 1px solid green;
}
div.note {
  border: 1px solid red;
  padding: .5em;
  margin-top: .5em;
  margin-bottom: .5em;
}
div.note p {
  color: black;
  font-weight: normal;
  font-size: 12pt;
}
div.note {
  color: red;
  font-weight: bold;
  font-size: 150%;
}
div.note:before {
  content: "Note!";
}
div.note span.exclaim {
  font-size: 125%;
  font-weight: bold;
}
div.example h1 {
  font-size: 20pt;
}
div.example p {
  padding-left: 2em;
  text-indent: -1em;
}
dl.description-list dt {
  font-weight: bold;
  font-variant: small-caps;
  width: 10em;
}