body {
  padding: 1em;
  padding-right: 3em;
  padding-left: 3em;
  margin: 0em;
  font-size: 12pt;
  text-align: justify;
  font-color: black;
  background-color: white;
}
a {
  color: black;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
ol {
  font-size: 12pt;
}
table {
  empty-cells: show;
}
div.toc h1 {
  font-variant: small-caps;
  font-size: 16pt;
}
ol.toc {
  list-style-position: outside;
  list-style-type: decimal;
  margin-left: 1em;
  padding-left: .1em;
}
ol.toc ol {
  list-style-type: upper-roman;
}
ol.toc ol ol {
  list-style-type: lower-roman;
}
ol.toc ol ol ol {
  list-style-type: lower-alpha;
}
ol.toc li {
  font-variant: small-caps;
}
div.examples h1 {
  font-variant: small-caps;
  font-size: 16pt;
}
ol.examples {
  list-style-position: outside;
  list-style-type: upper-roman;
  margin-left: 1em;
  padding-left: .1em;
}
ol.examples li {
  font-variant: small-caps;
}
div.figures h1 {
  font-variant: small-caps;
  font-size: 16pt;
}
ol.figures {
  list-style-position: outside;
  list-style-type: upper-roman;
  margin-left: 1em;
  padding-left: .1em;
}
ol.figures li {
  font-variant: small-caps;
}
span.apathy-A1 {
  font-size: 90pt;
}
span.apathy-P {
  position: relative;
  font-size: 60pt;
  left: -.22em;
  top: -.25em;
}
span.apathy-A2 {
  position: relative;
  font-size: 90pt;
  left: -.4em;
}
span.apathy-thy {
  position: relative;
  font-size: 60pt;
  left: -1em;
  top: -.25em;
}
table.apathy-authors {
  position: relative;
  text-align: center;
  right: -11em;
  top: -3em;
}
div.titlepage {
  border: double black;
  padding: 2em;
  padding-bottom: 5em;
}
div.part h1 {
  font-size: 28pt;
}
div.chapter h1 {
  font-size: 22pt;
}
div.section h1 {
  font-size: 16pt;
}
div.example {
  width: 35em;
  text-align: justify;
  padding: .5em 2em .5em 2em;
  margin: 0;
}
div.example h1 {
  font-size: 14pt;
}
div.example p {
  padding: 0 0 .25em 2em;
  text-indent: -1em;
  margin: 0;
}
div.example span.example-title {
  font-variant: small-caps;
  font-weight: bold;
  padding-right: 1em;
}
span.ApAthy {
  font-variant: small-caps;
  font-weight: bold;
}
span.definition {
  font-style: italic;
}
.description-term {
  font-weight: bold;
}
p.figure-caption {
  font-weight: bold;
  text-align: center;
  font-variant: small-caps;
}
div.note {
  padding: 1em;
  padding-left: 3em;
  padding-right: 3em;
  border: 1px solid red;
  margin: .5em;
}
div.note p {
  margin: 0;
  padding: 0;
}
div.note span.note-exclaim {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 16pt;
  margin-right: .5em;
}
span.footnote {
  color: blue;
}
ul.Fast-Find-List {
  font-weight: bold;
  font-variant: small-caps;
  font-size: 18pt;
  list-style-type: none;
  margin-left: -1.5em;
}
div.datum-description {
  border: 1px solid black;
  margin: 1em;
  margin-left: 2em;
  margin-right: 2em;
  padding: 1em;
  width: 35em;
}
div.datum-description h1 {
  font-size: 14pt;
}
div.datum-description p {
  padding-left: 2em;
  padding-right: 2em;
  text-indent: -1em;
}
table.datum-table {
  border-collapse: collapse;
}
table.datum-table a {
  font-variant: small-caps;
}
table.datum-table tr:hover {
  background-color: #EEF;
}
table.datum-table td {
  border-bottom: 1px solid black;
}
table.datum-table td {
  padding-right: .5em;
}
table.datum-table td.content {
  border-left: 1px dotted black;
  padding-left: .5em;
  padding-right: .5em;
}
table.datum-table th {
  border-bottom: double black;
  padding-right: .5em;
}
table.datum-table th.content {
  border-left: 1px solid black;
  padding-left: .5em;
}
table.content-table {
  border-collapse: collapse;
}
table.content-table th {
  border-bottom: double black;
  border-top: 1px solid black;
  padding-right: .5em;
  padding-left: .5em;
}
table.content-table td {
  border-bottom: 1px solid black;
  padding-right: .5em;
  padding-left: .5em;
}
table.content-table td.none {
  border-bottom: 0;
}
table.content-table h1 {
  font-size: 16pt;
  font-variant: small-caps;
  margin: .1em;
  padding: 0em;
}
table.content-table th:first-child {
  border-left: 0px;
}
table.content-table thead th {
  border-left: 1px solid black;
}
table.content-table td:first-child {
  border-left: 0px;
}
table.content-table tr td {
  border-left: 1px solid black;
}
span.math {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  margin: 0;
  padding: 0;
  font-style: italic;
  font-family: arial, serif;
}
div.math table {
  display: inline-block;
  margin: 0;
  padding: 0;
}
table.fraction {
  font-size: 8pt;
  border-collapse: collapse;
  text-align: center;
  display: inline-block;
}
table.fraction td {
  border: 0px;
}
table.fraction td.numerator {
  border-bottom: 1px solid black;
}
table.sum {
  text-align: left;
  display: inline-block;
}


